* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    font-family: Roboto, Arial, sans-serif;
}

:root {
    --text-align: center;
    --height: auto;
}

a {
    color: #00f;
}

footer,
header,
.grid {
    width: 1200px;
    margin: 0 auto;
}

nav {
    background-color: darkblue;
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}

nav a {
    color: #fff;
    display: block;
    padding: 0.5rem;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 700;
}

h1 {
    color: darkblue;
    border-bottom: 1px solid black;
}

main img {
    width: 150px;
    height: var(--height);
    border: 1px solid steelblue;
    padding: 2px;
    box-shadow: 0 0 30px gray;
    float: right;
    margin: 0 0 1rem 1rem;
}

p {
    padding: 5px;
    margin: 1rem;
}

aside {
    width: 30rem;
    margin: 10px 0;
    position: relative;
    grid-column: 1/2;
    grid-row: 1/2;
}

aside img {
    width: 100%;
    height: var(--height)
}

aside h2 {
    position: absolute;
}

footer {
    background-color: #3e3e3e;
    color: #fff;
    padding: 2rem 1rem;
}

/* Class Selectors */
ul {
    list-style: none;
    padding: 1rem;
}

.box {
    margin: 1rem;
    border: 1px solid rgba(0 0 0 1);
    padding: 1rem;
    background-color: #eee;
    color: #000;
}

.indent {
    padding-left: 2rem;
}

.grid {
    display: grid;
    align-items: center;
}

main {
    max-width: 640px;
    grid-column: 2/3;
    margin: 1rem;
}